<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kybmig.ssm.mapper.TodoMapper">

    <select id="selectAllTodo" resultType="kybmig.ssm.model.TodoModel">
        SELECT * FROM ssm.todo
    </select>

    <select id="selectTodo" resultType="kybmig.ssm.model.TodoModel">
        SELECT * FROM ssm.todo WHERE id = ${id}
    </select>

    <insert id="insertTodo" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO ssm.todo (content) VALUES (#{content})
    </insert>
    
    <update id="updateTodo">
        UPDATE ssm.todo SET content = #{content} WHERE id = #{id}
    </update>

    <delete id="deleteTodo">
        DELETE FROM ssm.todo WHERE id = #{id}
    </delete>
</mapper>
