<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kybmig.ssm.mapper.TopicCommentMapper">

    <select id="selectAllTopicComment" resultType="kybmig.ssm.model.TopicCommentModel">
        SELECT * FROM ssm.topiccomment
    </select>

    <select id="selectAllTopicCommentByTopicId" resultType="kybmig.ssm.model.TopicCommentModel">
        SELECT * FROM ssm.topiccomment WHERE topicId = #{topicId}
    </select>

    <select id="selectTopicComment" resultType="kybmig.ssm.model.TopicCommentModel">
        SELECT * FROM ssm.topiccomment WHERE id = #{id}
    </select>

    <insert id="insertTopicComment" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO ssm.topiccomment (content, topicId, userId, createdTime, updatedTime) VALUES (#{content}, #{topicId}, #{userId}, #{createdTime}, #{updatedTime})
    </insert>
    
    <update id="updateComment">
        UPDATE ssm.topiccomment SET content = #{content}, updatedTime = #{updatedTime} WHERE id = #{id}
    </update>

    <delete id="deleteTopicComment">
        DELETE FROM ssm.topiccomment WHERE id = #{id}
    </delete>

    <select id="selectCommentByUserId" resultMap="selectCommentByUserIdMap">
        SELECT
            topiccomment.id,
            topiccomment.content,
            topiccomment.userId,
            topiccomment.topicId,
            topiccomment.createdTime,
            topiccomment.updatedTime,
            topic.id as t_id,
            topic.title as t_title,
            topic.content as t_content,
            topic.userId as t_userId,
            topic.createdTime as t_createdTime,
            topic.updatedTime as t_updatedTime

        FROM
            ssm.topiccomment join ssm.topic
                                on topic.id = topiccomment.topicId
        WHERE topiccomment.userId = #{userId}

    </select>

    <resultMap id="selectCommentByUserIdMap" type="kybmig.ssm.model.TopicCommentModel">
        <collection property="topicList" ofType="kybmig.ssm.model.TopicModel">
            <id property="id" column="t_id" />
            <result property="title" column="t_title" />
            <result property="content" column="t_content" />
            <result property="userId" column="t_userId" />
            <result property="createdTime" column="t_createdTime" />
            <result property="updatedTime" column="t_updatedTime" />
            <association property="user" column="t_userId" javaType="kybmig.ssm.model.UserModel" select="kybmig.ssm.mapper.UserMapper.selectUser"/>
        </collection>
    </resultMap>

    <select id="numberOfCommentsByTopicId" resultType="java.lang.Integer">
        SELECT count(*) FROM ssm.topiccomment WHERE topicId = #{topicId}
    </select>

    <select id="selectLatestCommentByTopicId" resultMap="selectLatestCommentByTopicIdMap">
        SELECT
            topiccomment.id,
            topiccomment.content,
            topiccomment.userId,
            topiccomment.topicId,
            topiccomment.createdTime,
            topiccomment.updatedTime
        FROM
            ssm.topiccomment
        WHERE topiccomment.topicId = #{id}
        ORDER BY updatedTime DESC
        limit 1;
    </select>

    <resultMap id="selectLatestCommentByTopicIdMap" type="kybmig.ssm.model.TopicCommentModel">
        <id property="id" column="id" />
        <result property="content" column="content" />
        <result property="userId" column="userId" />
        <result property="createdTime" column="createdTime" />
        <result property="updatedTime" column="updatedTime" />
        <result property="topicId" column="topicId" />
        <association property="user" column="userId" javaType="kybmig.ssm.model.UserModel" select="kybmig.ssm.mapper.UserMapper.selectUser"/>
    </resultMap>

    <select id="numberOfCommentsByUserId" resultType="java.lang.Integer">
        SELECT count(*) FROM ssm.topiccomment WHERE userId = #{uerId}
    </select>
</mapper>
