<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kybmig.ssm.mapper.UserMapper">

    <select id="selectAllUser" resultType="kybmig.ssm.model.UserModel">
        SELECT * FROM ssm.user
    </select>

    <select id="selectUser" resultType="kybmig.ssm.model.UserModel">
        SELECT * FROM ssm.user WHERE id = ${id}
    </select>

    <select id="selectOneByUsername" resultType="kybmig.ssm.model.UserModel">
        SELECT * FROM ssm.user WHERE username = #{username}
    </select>

    <insert id="insertUser" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO ssm.user (username, password, note, role, avatar, email, createdTime)
            VALUES (#{username}, #{password}, #{note}, #{role}, #{avatar}, #{email}, #{createdTime})
    </insert>
    
    <update id="updatePassword">
        UPDATE ssm.user SET password = #{password} WHERE id = #{id}
    </update>

    <delete id="deleteUser">
        DELETE FROM ssm.user WHERE id = #{id}
    </delete>

    <update id="updateUserNameAndNote">
        UPDATE ssm.user SET username = #{username}, note = #{note} WHERE id = #{id}
    </update>

    <update id="updateAvatar">
        UPDATE ssm.user SET avatar = #{avatar} WHERE id = #{id}
    </update>

    <update id="updateByAdmin">
        UPDATE ssm.user SET username = #{username}, password = #{password}, note = #{note}, role = #{role},
        avatar = #{avatar}, email = #{email}, createdTime = #{createdTime} WHERE id = #{id}
    </update>
</mapper>
